body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  display: table;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #666;
  font-weight: 300;
  text-align: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-item{
  margin-bottom:-1px;
  text-align:center;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}
.nav-link {
  border:1px solid transparent;
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem
}
.nav-link {
  font-size: 1.5rem;
  display: block;
  padding: .5rem 1rem;
}

.nav-link:hover{color:#0056b3;}
