body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  display: table;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #666;
  font-weight: 300;
  text-align: center;
}
.nav-link {
  font-size: 1.5rem;
}
::selection {
  background-color: rgb(0,102,204);
  color: #FFF;
}